.dash-flow {
  display: flex;
  justify-content: space-between;

  .header {
    padding: 0px;
    width: 100%;
    background: #63c763;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header-controls {
      display: flex;
      justify-content: space-between;

      * {
        margin-left: 5px;
        margin-right: 5px;
      }
    }

    .title {
      padding: 0px;
      width: 100px;
    }

    .posts-controls {
      width: 100px;
    }

    .sort-pagin {
      padding: 0px;
      display: flex;
      align-items: center;

      div {
        padding: 0px;
      }
    }
  }

  .body {
    border: 1px solid #efe9e9;
    border-top: none;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 70vh;

    app-users {
      padding: 5px;
    }
  }

  .create-message {
    padding: 0px;
    textarea {
      width: 100%;
      height: 100px;
    }

    button {
      width: 100%;
    }
  }

  div {
    padding: 20px;
    text-align: center;
  }

  .users, .posts {
    width: 100%;
  }
}