<div class="dash-flow">
  <div class="users">
    <div class="header">
        <div class="header">
            <div class="title">USERS</div>
            <div class="header-controls">
              <div class="sort-pagin">
                <div>
                  <select #order_u class="form-control">
                    <option>ASC</option>
                    <option>DESC</option>
                  </select>
                </div>
                <div>
                  <select #field_u class="form-control">
                    <option value="name">Name</option>
                    <option value="email">Email</option>
                    <option value="createdAt">Date</option>
                    <option value="createdAt">Phone</option>
                  </select>
                </div>
                <div>
                  <input #offset_u class="form-control" placeholder="offset">
                </div>
                <div>
                  <input #limit_u class="form-control" placeholder="limit">
                </div>
                <button (click)="loadEntities('users', order_u.value, field_u.value, offset_u.value, limit_u.value)" class="btn">Send</button>
              </div>
            </div>
          </div>
    </div>
    <div class="body">
      <app-users *ngFor="let user of users$ | async" (deleteUserEvent)="deleteEntity($event, 'user')" [id]="user.id" [name]="user.name"
        [email]="user.email" [registeredAt]="user.createdAt" [phone]="user.phone"></app-users>
    </div>
  </div>
  <div class="posts">
    <div class="header">
      <div class="title">POSTS</div>
      <div class="header-controls">
        <div class="sort-pagin">
          <div>
            <select #order class="form-control">
              <option>ASC</option>
              <option>DESC</option>
            </select>
          </div>
          <div>
            <select #field class="form-control">
              <option value="rating">Rating</option>
              <option value="text">Message</option>
              <option value="createdAt">Date</option>
            </select>
          </div>
          <div>
            <input #offset class="form-control" placeholder="offset">
          </div>
          <div>
            <input #limit class="form-control" placeholder="limit">
          </div>
          <button (click)="loadEntities('posts', order.value, field.value, offset.value, limit.value)" class="btn">Send</button>
        </div>
      </div>
    </div>
    <div class="body">
      <app-posts (addNicknameToChat)="addNicknameToChat($event)" (deletePostEvent)="deleteEntity($event, 'post')" *ngFor="let post of posts$ | async"
        [id]="post.id" [message]="post.text" [rating]="post.rating" [user]="post.user" [createdAt]="post.createdAt"></app-posts>
    </div>
    <div class="create-message">
      <textarea [(ngModel)]="currentMessage"></textarea>
      <button (click)="savePost()" class="btn btn-success">Send</button>
    </div>
  </div>
</div>