ul {
	display: flex;
	list-style-type: none;
	padding: 0px;

	li {
			padding: 10px;
			background: #7cbef7;
			width: 100%;
			text-align: center;
			cursor: pointer;
			border-bottom: 5px solid #7cbef7;
	}

	li:hover {
		border-bottom: 5px solid #17b517;
	}
}