:host {
  width: 100%;
  height: 100%;
}
.login {
  position: absolute;
  top: 35%;
  left: 30%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
  display: flex;
  justify-content: space-between;

  .col {
    padding: 20px;

    .label {
      display: block;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .sign-up {
      text-align: right;
      color: cornflowerblue;
      cursor: pointer;
    }

    .error {
      color: red;
      font-weight: bold;
    }

    .error-div {
      display: flex;
      align-items: center;
      position: relative;
      
      .mark {
        width: 30px;
        color: white;
        border-radius: 55px;
        text-align: center;
        cursor: pointer;
        margin-left: 5px;
        background-color: #4ba745;
      }

      .error-description {
        position: absolute;
        z-index: 999;
        display: none;
        padding: 20px;
        background: white;
        box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
      }

      .mark:hover ~ div {
        display: block;
      }
    }
  }
  .col:first-child {
    min-width: 350px;
  }
}

.form {
  display: flex;
  flex-direction: column;

  * {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
  }
}
