<form [formGroup]="form" class="login">
  <div class="col">
    <span class="label">Login Into Your Account</span>
    <div class="form">
      <input formControlName="email" class="form-control" type="text" placeholder="email">
      <input formControlName="password" class="form-control" type="password" placeholder="password">
      <button *ngIf="isSignIn" (click)="localSignin()" type="button" class="btn btn-success">Sign In</button>
      <button *ngIf="!isSignIn" (click)="localSignUp()" type="button" class="btn btn-success">Sign Up</button>
    </div>
    <div class="error-div">
      <div *ngIf="isAuthError && isSignIn" class="error">Wrong login or passwrod</div>
      <div *ngIf="isAuthError && !isSignIn" class="error">Error occurs during sign up</div>
      <div *ngIf="isAuthError" class="mark">?</div>
      <div *ngIf="error" class="error-description">{{error.error}}</div>

    </div>
  </div>

  <div class="col">
    <span *ngIf="isSignIn" (click)="changeStateOfAuth()" class="label sign-up">Sign Up!</span>
    <span *ngIf="!isSignIn" (click)="changeStateOfAuth()" class="label sign-up">Sign In!</span>
    <div class="form">
      <button type="button" class="btn btn-light">Sign In with Facebook</button>
      <button type="button" class="btn btn-light">Sign In With twitter</button>
      <button type="button" class="btn btn-light">Sign In with Google+</button>
    </div>
  </div>
</form>