.user-data {
	display: flex;
	justify-content: space-between;

	.avatar {
		max-width: 100px;
		img {
			max-width: 100px;
			max-height: 100px;
		}
	}
	
	.separator {
		height: 70%;
		background: grey;
		width: 2px;
	}

	.user-details {
		width: 100%;
		text-align: left;
		padding-left: 20px;

		.label {
			font-weight: bold;
			width: 100px;
		}

		.user-row {
			display: flex;
			align-items: center;

			input {
				width: 70%;
				margin-bottom: 10px;
			}
		}
	}

	.user-manage {
		display: flex;
		flex-direction: column;

		div {
			padding: 5px;
			text-decoration: underline;
			cursor: pointer;
		}
	}
}