<div [formGroup]="form" class="user-data">
  <div class="avatar">
    <img src="../../../assets/avatar.png">
  </div>
  <div class="user-details">
    <div class="user-row">
      <div class="label">Id:</div>
      <div class="value">{{id}}</div>
    </div>
    <div class="user-row">
      <div class="label">Name:</div>
      <div *ngIf="!isEdit" class="value">{{name}}</div>
      <input *ngIf="isEdit" formControlName="name" class="form-control" type="text">
    </div>
    <div class="user-row">
      <div class="label">Email:</div>
      <div *ngIf="!isEdit" class="value">{{email}}</div>
      <input *ngIf="isEdit" formControlName="email" class="form-control" type="text">
    </div>
    <div class="user-row">
      <div class="label">Registered:</div>
      <div class="value">{{registeredAt | date: 'dd/MM/yyyy'}}</div>
    </div>
    <div class="user-row">
      <div class="label">Phone:</div>
      <div *ngIf="!isEdit" class="value">{{phone}}</div>
      <input *ngIf="isEdit" formControlName="phone" class="form-control" type="text">
    </div>
    <div *ngIf="isEdit" class="user-row">
      <button (click)="isEdit = false" class="btn">Cancel</button>
      <button (click)="edit()" class="btn btn-success">Save</button>
    </div>
  </div>
  <div class="user-manage">
    <div (click)="onEdit()">Edit</div>
    <div (click)="onDelete()">Delete</div>
  </div>
</div>