<div class="message-data">
  <div class="avatar">
    <div (click)="addNick()" class="nickname">{{user.email}}</div>
    <img src="../../../assets/avatar.png">
  </div>
  <div class="message-details">
    <div class="message-manage">
      <div *ngIf="authService.isUser(user.id)" (click)="onEdit()" class="control">Edit</div>
      <div (click)="deletePost()" *ngIf="authService.isUser(user.id)" class="control">Delete</div>
      <div class="date">{{createdAt | date: 'dd/MM/yyyy'}}</div>
    </div>
    <div *ngIf="!isEdit"class="message-text">{{message}}</div>
    <div class="edit-block" *ngIf="isEdit">
      <textarea #textarea [ngModel]="tempMessage"></textarea>
      <div>
        <button (click)="isEdit = false">Cancel</button>
        <button (click)="savePost(textarea.value)">Save</button>
      </div>
    </div>
  </div>
  <div class="rating">
    <button (click)="changeRating(1)" class="btn btn-success">+</button>
    <div>{{rating}}</div>
    <button (click)="changeRating(-1)" class="btn btn-danger">-</button>
  </div>
</div>