.message-data {
	display: flex;
	justify-content: space-between;
	// border-bottom: 1px solid #e6dede;
	padding-bottom: 10px;
	padding-top: 10px;
	.avatar {
		padding-right: 20px;
		width: 200px;
		min-width: 200px;
		max-width: 200px;

		img {
			max-width: 100px;
			max-height: 100px;
		}

		.nickname {
			overflow-wrap: break-word;
			color: blue;
		}

		.nickname:hover {
			text-decoration: underline;
			cursor: pointer;
		}
	}

	.message-details {
		border-left: 1px solid #e6dede;
		width: 100%;

		.message-manage {
			display: flex;

			.date {
				color: #b7b2b2;
			}

			div {
				padding-left: 5px;
				padding-right: 5px;
			}

			div:first-child {
				padding-left: 15px;	
			}

			.control {
				color: blue;
				text-decoration: underline;
				cursor: pointer;
			}
		}

		.edit-block {
			textarea {
				width: 95%;
			}
			
			div {
				display: flex;
				justify-content: space-around;
			}
		}

		.message-text {
			padding-left: 15px;
			text-align: left;
		}
	}

	.rating {
		display: flex;

		button {
			height: 35px;

			margin-right: 5px;
			margin-left: 5px;
		}
	}
}